asgiref==3.10.0
beautifulsoup4==4.14.2
dj-database-url==3.0.1
Django==5.2.7
django-bootstrap4==25.2
django-geojson==4.2.0
django-heroku==0.3.1
django-leaflet==0.32.0
gunicorn==23.0.0
packaging==25.0
psycopg2==2.9.11
setuptools==80.9.0
soupsieve==2.8
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
wheel==0.45.1
whitenoise==6.11.0
wincertstore==0.2.1
